.login-content {
padding-top:50px;
}
.login {
  text-align: center;
  margin: auto;
  border: solid 1px grey;
  width: 450px;
  padding: 20px;
  box-shadow: 2px 2px 10px black
}
.submit-form{
  margin-top:10px;
}
.errorAuth{
  color:red;
}
