<div class="content">
  <h1>Nouveau bateau</h1>

  <form [formGroup]="boatForm" (submit)="validBoat()">

    <div>
      <mat-form-field class="input">
        <input matInput placeholder="Nom" formControlName="name">
        <mat-error *ngIf="su && name.hasError('required')">
          Nom est <strong>requi</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="input">
        <input id="password" matInput placeholder="Description du bateau" formControlName="description">
        <mat-error *ngIf="su && description.hasError('required')">
          Remarque est <strong>requi</strong>
        </mat-error>

      </mat-form-field>
    </div>

    <div>

      <div class="submit-form">
        <input type="submit" value="Valider" class="btn btn-success" />
      </div>

    </div>

  </form>

</div>
